{% extends 'yonglong/base.html' %}
{% load staticfiles %}
{% block title %}<title>新闻动态</title>{% endblock %}
{% block Custom_styles %}
<link href="{% static 'yonglong/css/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
{% include "yonglong/subhead.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="{% url 'yonglong:index' %}">天津永隆</a></li>
                <li><a href="{% url 'yonglong:news' %}" class="text-muted">新闻动态</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="list-group">
                {% for category in category_list %}
                <a href="?category={{ category.category }}" class="list-group-item" id="{{ category.category }}">
                    {{ category.category_cn }}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ news_headline }}</h3>
                </div>
                <div class="panel-body" style="padding-bottom:0px;">
                    <div class="table-responsive">
                        {% if info %}
                        <table class="table table-hover">
                            {% for news in info.object_list %}
                            {% if forloop.counter0|divisibleby:2 %}
                            <tr class="default">
                                {% else %}
                            <tr class="success">
                                {% endif %}

                                <td><a href="{% url 'yonglong:news_details' news.id %}" target="_blank">{{news.headline}}</a></td>
                                <td align="right">{{ news.pub_date | date:"Y-m-d H:i:s" }}</td>
                            </tr>
                            {% endfor %}
                        </table>

                        <ul class="pager">
                            {% if info.has_previous %}
                            <li class="previous"><a
                                    href="?category={{ category }}&page={{ info.previous_page_number }}">上一页</a>
                            </li>
                            {% else %}
                            <li class="previous disabled"><a href="#">上一页</a></li>
                            {% endif %}
                            {% for p in page_range %}
                            {% ifequal p info.number %}
                            <li class="active">{{p}}</li>
                            {% else %}
                            <li><a href="?category={{ category }}&page={{p}}">{{p}}</a></li>
                            {% endifequal %}
                            {% endfor %}

                            第 {{ info.number }} / {{ info.paginator.num_pages }}页
                            {% if info.has_next %}
                            <li class="next"><a
                                    href="?category={{ category }}&page={{ info.next_page_number }}">下一页</a>
                            </li>
                            {% else %}
                            <li class="next disabled"><a href="#">下一页</a></li>
                            {% endif %}
                        </ul>

                        {% else %}
                        <br>
                        <p><strong>{{ error_msg }}</strong></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
$('#{{ active_category }}').addClass("active");
{% endblock %}